version: '3.8'
services:
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongodata:/data/db
    ports:
      - "27017:27017"
  backend:
    build: ./backend
    env_file: ./backend/.env
    depends_on:
      - mongo
      - ml-service
    ports:
      - "4000:4000"
  ml-service:
    build: ./ml-service
    env_file: ./ml-service/.env
    ports:
      - "8000:8000"
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_BASE=http://localhost:3000/api
volumes:
  mongodata:
